body{
    margin: 0;
    display: flex;
    justify-content: center ;
    box-sizing: border-box;
    overflow: hidden;
}
.container{
    width: 320px;
    height: 600px;
    background: #1789FC;
    display: flex;
    flex-direction: column;
    align-items: center;  
    border: solid 3px ;
    border-radius: 30px;
    margin-top: 20px;
}
.head-1{
    width: 100%;
    position: relative;
    top:5px;
    display: flex;
    justify-content: space-around;

}
.head-1-bar{
    width: 30%;
    height: 10px;
    background: #E2E2E2;
    border-radius: 20px;
}
.head-2{
    position: relative;
    top: 20px;
    width: 90%;
    height: 50px;
    display: flex;
}
.name{
    height: 100%;
    font-size: 20px;
    font-weight: 700;
    color: #E2E2E2;
    align-items: center;
    text-align: center;
    margin: 10px;
}
.name span{
    font-weight: 1000;
}
.battery{
    width: 50%;
    height: 100% ;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}
.bar-0{
    width: 5px;
    height: 15px;
    background: #E2E2E2;
}
.bar-1{
    width: 10px;
    height: 25px;
    background: #0CCA4A;
    border: solid 3px #E2E2E2;
    margin-right: 2px;
}
.screen{
    position: relative;
    top: 40px;
    width: 80%;
    height: 125px;
    display: flex;
    justify-content: start;
    align-items: center;
    background: #E2E2E2;
    border-radius: 10px;
    box-shadow: inset 5px 5px 5px #a19b9b;
    margin-bottom: 20px;
    
}
.screen span{
    width: 146px;
    color: #F42C04;
    font-size: 30px;
    animation: math-error 1s infinite  backwards; 
}
.button-container{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 20px;
}
.button{
    width: 55px;
    height: 55px;
    display: flex;
    background:#E2E2E2;
    border: solid 1px;
    border-radius: 5px;
    box-shadow: 5px 0 5px black;
    margin: 5px 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;    
}
.button-egal{
    width: 121px;
    height: 55px;
    display: flex;
    background:#E2E2E2;
    border: solid 1px;
    border-radius: 5px;
    box-shadow: 5px 0 5px black;
    margin: 5px 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.button:active{
    animation: click 1s backwards;
}
.button-egal:active{
    animation: click 1s backwards;
}
@keyframes click {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0.8);
    }
}
@keyframes math-error {
    from{
        margin-left: 0;
    }
    to{
        margin-left: calc(100% - 146px);
    }
}
@media only screen and (max-width:600px){
    .screen span{
        width: 122px;
        color: #F42C04;
        font-size: 25px;
        /* animation: math-error 1s infinite  backwards;  */
    }
    @keyframes math-error {
        from{
            margin-left: 0;
        }
        to{
            margin-left: calc(100% - 122px);
        }
    }
}